# Python Data Structure   

The most basic data structure in Python is the sequence. Each element of a sequence is assigned a number - its position or index. The first index is zero, the second index is one, and so forth. Python offers a number of data structures:    
1. Tuples to group objects of different types
2. List to group objects of the same types
3. Arrays to work with numerical data. (There is also matrix, but some scientific function do not accept input data in matrix)
4. Dictionaries for named, structured data sets
5. DataFrames for statistical data analysis

## Tuples   

`Tuple()` a collection of different things. Tuples are "immutable", that is they cannot be modified after creation. Creating a tuple is as simple as putting different comma-separated values. Optionally, these comma-separated values can be put between parentheses also.

In [1]:
# Contoh

tup1 = ("PSBB", "Jakarta", "diperpanjang", "Oktober", 2019, 11)
tup2 = "PSBB", "Jakarta", "diperpanjang", "Oktober", 2019, 11

In [7]:
# Memanggil tup1
tup1

('PSBB', 'Jakarta', 'diperpanjang', 'Oktober', 2019, 11)

In [8]:
tup2

('PSBB', 'Jakarta', 'diperpanjang', 'Oktober', 2019, 11)

In [9]:
# Memanggil elemen ke-3 (urutan ketiga) pada tup1; ingat urutan python dari indeks 0
tup1[2]

'diperpanjang'

In [10]:
# Memanggil elemen pertama dari belakang pada tup2
tup2[-1]

11

In [12]:
# Elemen dalam tuple tidak bisa diganti; akan menyebabkan error
tup1[0] = 2

TypeError: 'tuple' object does not support item assignment

In [13]:
# Penjumlahan tuple

tup1 + tup2

('PSBB',
 'Jakarta',
 'diperpanjang',
 'Oktober',
 2019,
 11,
 'PSBB',
 'Jakarta',
 'diperpanjang',
 'Oktober',
 2019,
 11)

In [21]:
# Panjang tuple

len(tup1)

6

## List   

List are "mutable", that is their elements can be modified. Therefore lists are tipically used to collect items of the same types. Note that "+" concatenates list. List which can be written as a list of comma-separated values (items) between square brackets.

In [28]:
list1 = ["Kasus", "Covid-19", "Indonesia", "lewati", "290,000"]
list2 = [1, 10, 2020, 290000, 4174]

In [29]:
# Panggil elemen kedua dari list1; ingat indeks python dimulai dari 0
list1[1]

'Covid-19'

In [30]:
# Ganti elemen tersebut dengan string "passed away"
list1[1] = "coronavirus disease"
list1

['Kasus', 'coronavirus disease', 'Indonesia', 'lewati', '290,000']

In [31]:
# Menampilkan elemen pertama hingga ketiga pada list2
list2[1:4]

[10, 2020, 290000]

In [32]:
tuple1 = ("Kasus", "Covid-19", "Indonesia", "lewati", "290,000")

In [34]:
tuple1[1] = "corona"

TypeError: 'tuple' object does not support item assignment

**catatan:** ...

**Note**: Perhatikan bahwa ketika kita menginginkan menampilkan data pertama hingga ketiga, kita tuliskan indeksnya 1:4. Artinya, elemen indeks keempat tidak ikut untuk ditampilkan. Data yang tampil adalah indeks ke-1, ke-2, dan ke-3.

## Python includes following list methods:

1. list.count(obj) Returns count of how many times obj occurs in list
3. list.remove(obj) Removes object obj from list
4. list.reverse() Reverses objects of list in place
5. list.sort([func]) Sorts objects of list, use compare func if given

In [35]:
# Menghitung banyaknya elemen "10" pada list2
list2.count(10)

1

In [36]:
count(list2, 10) # salah

NameError: name 'count' is not defined

**Note**: terdapat dua cara untuk memanggil fungsi dalam python yaitu
1. Dengan menggunakan tanda titik, contoh: `list2.count(10)` artinya kita mengenakan fungsi count() ke obyek list2;
2. Dengan menggunakan tanda kurung, contoh: `len(list2)` artinya kita menggunakan fungsi len() pada obyek list2;

In [37]:
# 2
list2.remove(2020)
list2

[1, 10, 290000, 4174]

In [38]:
# 3
list2.reverse()
list2

[4174, 290000, 10, 1]

In [ ]:
# 4
list2.sort()
list2

## Dictionary

Python dictionary (kamus) adalah koleksi yang tidak diurutkan, dapat diubah, dan diindeks. Dictionary (kamus) ditulis dengan awal dan akhiran kurung kurawal `{}`, serta memiliki kata kunci dan nilai [1]. Setiap kata kunci dan nilainya dipisahkan dengan tanda titik dua (:). Kamus kosong, dituliskan dengan kurung kurawal saja `{}`.

Kata kunci bersifat tunggal dalam suatu kamus, sedangkan nilainya bisa tidak bersifat tunggal. Nilai kamus dapat berupa tipe data apapun. Namun, kata kunci merupakan tipe data yang tidak dapat diubah misalnya string, angka, atau tuple.

In [39]:
import datetime

In [40]:
# Membuat dan menampilkan kamus

ktp1 = {
    "Nama": "Bima Sakti",
    "NIK": "3507051210810001",
    "Tempat lahir": "Malang",
    "Tanggal lahir": datetime.datetime(1981, 10, 12),
    "Pekerjaan": "Karyawan BUMN"
}
print(ktp1)

{'Nama': 'Bima Sakti', 'NIK': '3507051210810001', 'Tempat lahir': 'Malang', 'Tanggal lahir': datetime.datetime(1981, 10, 12, 0, 0), 'Pekerjaan': 'Karyawan BUMN'}

### Mengakses kamus

Mengakses kamus dengan cara:
1. Menyebutkan kata kunci untuk mengetahui nilai di dalam kata kunci;
2. Menggunakan `get`

In [41]:
x = ktp1["NIK"]
x

'3507051210810001'

In [42]:
x = ktp1.get("NIK")
x

'3507051210810001'

In [43]:
# Mengubah tempat lahir
ktp1["Tempat lahir"] = "Surabaya"

In [44]:
# Mengecek nilai yang sudah diubah
ktp1["Tempat lahir"]

'Surabaya'

In [45]:
# Menambahkan suatu data, "Kewarganegaraan: WNI"
ktp1["Kewarganegaraan"] = "WNI"
ktp1

{'Nama': 'Bima Sakti',
 'NIK': '3507051210810001',
 'Tempat lahir': 'Surabaya',
 'Tanggal lahir': datetime.datetime(1981, 10, 12, 0, 0),
 'Pekerjaan': 'Karyawan BUMN',
 'Kewarganegaraan': 'WNI'}

In [46]:
# Menghapus Tanggal Lahir
ktp1.pop("Tanggal lahir")

datetime.datetime(1981, 10, 12, 0, 0)

Beberapa fungsi yang dapat digunakan dalam kamus:
 - kamus.copy()  
 - kamus.get() 
 - kamus.keys()
 - kamus.items()
 - kamus.pop()

## Set

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets. contoh: fruits = {apple, banana, orange, grape}

In [47]:
# Contoh set
fruits = {"apple", "banana", "orange", "grape"}

In [48]:
# Set tidak dapat dipanggil elemennya; akan menyebabkan error. Ingat, set tidak berindeks
fruits[2]

TypeError: 'set' object is not subscriptable

## Array   

vectors and matrices, for numerical data manipulation. Defined in numpy. Note that vectors and 1-d arrays are different: vectors CANNOT be transposed! With arrays, “+” adds the corresponding elements; and the array- method .dot performs a scalar multiplication of two arrays. (From Python 3.5 onward, this can also be achieved with the “@” operator.). 

Package numpy is used to manipulate array.

## DataFrame 

Data structure optimized for working with named, statistical data. Defined in pandas.

## Reference 

1. Haslwanter, Thomas. 2016. An Introduction to Statistics with Python. Springer.   
2. [tutorialspoint: list](https://www.tutorialspoint.com/python/python_lists.htm)
3. [tutorialspoint: tuples](https://www.tutorialspoint.com/python/python_tuples.htm)

In [49]:
? list.sort()

Object ` list.sort()` not found.